@model IEnumerable<MemberMgmtSystem.Models.Customers>

@{
    ViewBag.Title = "Index";
}
<style>
    .view {
        float: left;
        display: inline-block;
        margin-left: 100px;
    }
</style>
<div class="view">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New Data", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) | *@
                    @* @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) | *@
                    @* @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID }) *@
                    <button class="btn btn-info" onclick="showPartialView('Customers', 'PartialViewEditCustomer',@item.CustomerID)">Edit</button>
                    <button class="btn btn-danger" onclick="showPartialView('Customers', 'PartialViewDelCustomer',@item.CustomerID)">Delete</button>
                    @* <button id="delete" onclick="showPartialView()"></button> *@
                    @* @Html.Partial("_DeleteCustomer", item) *@
                </td>
            </tr>
        }
    </table>
</div>
<div class="view" id="display">
    @{
        //        Html.RenderPartial("_DeleteCustomer", Model.First());
        //        Html.Partial("_DeleteCustomer", Model.First());
    }
</div>

<script>
    function showPartialView(controller, action, customerId) {
        console.log(action, controller, customerId);

        var actionUrl = '/' + controller + '/' + action + '/' + customerId;
        console.log('url = ' + actionUrl);
        $.get(actionUrl, {}, function (response) {
            $("#display").html(response);
        });
    }
</script>