@model IEnumerable<MemberMgmtSystem.Models.Customers>

@{
    ViewBag.Title = "Index";
}
<style>
    .view {
        float: left;
        display: inline-block;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Data", "Create")
</p>
<div class="">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
                </td>
            </tr>
        }
    </table>
</div>
<div class="view">
    @Html.Partial("_DeleteCustomer", Model.First())
    @* @Html.Partial("Delete", Model.First()) *@
</div>